# Environment variables
.env
.env.local

# Uploads folder (temporary audio files)
uploads/
uploads/*

# Dependencies
node_modules/

# Build output
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
